# Tmux
alias tml='tmux ls'
alias tmn='tmux new -s'
alias tma='tmux attach -t'

# Git
alias gap='git add -p'
alias gst='git status'
alias gco='git checkout --ours'
alias gct='git checkout --theirs'
alias lg="lazygit"

# Docker
alias dc='docker compose'
alias dpsql='docker exec -it myPostgres psql -h localhost -U postgres'

# Ruby/Rails
alias be='bundle exec'
alias ber='bundle exec rspec'
alias brc='bundle exec rails console'
alias bdbm='bundle exec rails db:migrate'
alias brs='bundle exec rails server'

#ZSH
alias reload=". ~/.zshrc && echo 'ZSH config reloaded from ~/.zshrc'"

# Other
alias aliases="cat $HOME/.aliases"

alias disable-vpn="launchctl unload /Library/LaunchAgents/com.paloaltonetworks.gp.pangp*"
alias enable-vpn="launchctl load /Library/LaunchAgents/com.paloaltonetworks.gp.pangp*"

alias notes="glow ~/Documents/glow"
alias pserver="python3 -m http.server 6969 -d ~/Documents/sharing"
alias air="$HOME/go/bin/air"
alias vim="nvim"
